:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  background-color: #1976d2;
  color: aliceblue;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10pt;
  font-size: large;
}

.content {
  display: flex;
  padding: 10pt;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 100%;
  height: 23pt;
  margin: 0;
  padding-top: 8pt;
  padding-bottom: 8pt;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 50pt;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: hotpink;
  text-align: center;
  margin: 0;
  padding: 5pt 0;
}

.bottom-menu li {
  display: inline;
}

.bottom-menu li img {
  width: 64px;
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
}

.bottom-menu li.selected {
  background-color: deeppink;
}
