@import views.{View, NextWeek, Week}
@(title: String, view: View)(content: Html)

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-bottom">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bulma.min.css")">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        @content
        <footer class="footer">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li@if(view == Week) { class="is-active"}><a href="/"><span>Actuelle</span></a></li>
                    <li@if(view == NextWeek) { class="is-active"}><a href="/next"><span>Prochaine</span></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
