@import meals.domain.WeekMeals
@import views.NextWeek
@(weekMeals: WeekMeals)(implicit requestHeader: RequestHeader)

@main("Semaine prochaine", NextWeek) {
    <section class="section">
        <div class="container">
            <h1 class="title">Semaine prochaine</h1>
            @if(WeekMeals.canShuffleAll(weekMeals)) {
                <button class="button is-link">Shuffle All</button>
            }
            @weekday("lundi", weekMeals.monday, nextWeek = true)
            @weekday("mardi", weekMeals.tuesday, nextWeek = true)
            @weekday("mercredi", weekMeals.wednesday, nextWeek = true)
            @weekday("jeudi", weekMeals.thursday, nextWeek = true)
            @weekday("vendredi", weekMeals.friday, nextWeek = true)
            @weekday("samedi", weekMeals.saturday, nextWeek = true)
            @weekday("dimanche", weekMeals.sunday, nextWeek = true)
        </div>
    </section>
}
