@import meals.domain.Meal
@import views.NextWeek
@(meals: Seq[Meal])

@main("Meals", NextWeek) {
    <section class="section">
        <div class="container">
            <h1 class="title">Semaine prochaine</h1>
            @for(meal <- meals) {
                <div class="card">
                    <div class="card-content">@meal.meal</div>
                    <div class="card-footer">
                        <div class="card-footer-item">@meal.day</div>
                    </div>
                </div>
            }
        </div>
    </section>
}
