@import helper._
@import meals.domain.{MealTimeConverter, WeekMeals}
@import play.api.data.format.Formats.localDateTimeFormat
@(weekMeals: WeekMeals)(implicit requestHeader: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="@controllers.routes.Assets.versioned("favicon.png")" type="image/png">
        <link rel="shortcut icon" href="@controllers.routes.Assets.versioned("favicon.png")" type="image/png">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("bootstrap-5.0.0-dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("bootstrap-icons-1.4.1/bootstrap-icons.css")">
        <title>@weekMeals.titles.short</title>
    </head>
    <body>
        <div class="container">
            <h1>@weekMeals.titles.long</h1>
            @if(weekMeals.allByDate.exists(_._2.isEmpty)) {
                @helper.form(action = meals.application.routes.MealsController.linkOrInsert()) {
                    @CSRF.formField
                    <div class="row m-1">
                        <div class="col-3">
                                <select name="mealTime" class="form-select">
                                @for(weekMeal <- weekMeals.allByDate.filter(_._2.isEmpty)) {
                                    <option value="@localDateTimeFormat.unbind("", weekMeal._1)("")">@MealTimeConverter.displayTime(weekMeal._1)</option>
                                }
                                </select>
                        </div>
                        <script>
                                function selectMeal(clickEvent) {
                                    document.getElementById('dropdown-input').value = clickEvent.currentTarget.getAttribute('data-meal');
                                }

                                function createMeal(meal) {
                                    let template = '';
                                    template += `<li class="dropdown-item d-flex w-100 justify-content-between" data-meal="${meal.description}">`;
                                    template += ` <span>`;
                                    template += `  <span>${meal.descriptionLabel}</span>`;
                                    if (meal.count > 1) template += `  <span class="badge bg-secondary">${meal.count}</span>`;
                                    template += ` </span>`;
                                    template += ` <span>${meal.lastused} jours</span>`;
                                    template += '</li>';
                                    return template;
                                }

                                function onLoadSuggestListener() {
                                    const meals = JSON.parse(this.responseText);
                                    const dropdownmenu = document.getElementById('dropdown-menu');
                                    let newdropdowncontent = '';
                                    for (const meal of meals) {
                                        newdropdowncontent += createMeal(meal);
                                    }
                                    dropdownmenu.innerHTML = newdropdowncontent
                                    for (const dropdownitem of dropdownmenu.getElementsByClassName("dropdown-item")) {
                                        dropdownitem.addEventListener('click', selectMeal);
                                    }
                                }

                                function suggest(event) {
                                    let query = '/suggest';
                                    const mealTime = document.querySelector('select[name="mealTime"]').value
                                    query += `?reference=${mealTime}`
                                    if (event.target.value) query += `&search=${event.target.value}`;
                                    const request = new XMLHttpRequest();
                                    request.addEventListener('load', onLoadSuggestListener);
                                    request.open('GET', query);
                                    request.send();
                                }
                        </script>
                        <div class="col-8">
                            <div class="dropdown" id="dropdown">
                                <input class="form-control dropdown-toggle" id="dropdown-input" data-bs-toggle="dropdown" name="mealDescription" type="text" autocomplete="off"/>
                                <ul class="dropdown-menu" aria-labelledby="dropdown-input" id="dropdown-menu"></ul>
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                        <script>
                                const dropdowninput = document.getElementById('dropdown-input');
                                dropdowninput.addEventListener('show.bs.dropdown', suggest);
                                dropdowninput.addEventListener('input', suggest);
                        </script>
                    </div>
                }
            }
            @day("lundi", weekMeals.monday)
            @day("mardi", weekMeals.tuesday)
            @day("mercredi", weekMeals.wednesday)
            @day("jeudi", weekMeals.thursday)
            @day("vendredi", weekMeals.friday)
            @day("samedi", weekMeals.saturday)
            @day("dimanche", weekMeals.sunday)
            <nav aria-label="Navigation entre les semaines">
                <ul class="pagination  justify-content-center">
                    <li class="page-item@if(weekMeals.previous.isActive) { active}"><a class="page-link"@if(!weekMeals.previous.isActive) { href="/meals/@weekMeals.previous.year.getValue/@weekMeals.previous.week"}>Précédente</a></li>
                    <li class="page-item@if(weekMeals.now.isActive) { active}"><a class="page-link"@if(!weekMeals.now.isActive) { href="/meals/@weekMeals.now.year.getValue/@weekMeals.now.week"}>Actuelle</a></li>
                    <li class="page-item@if(weekMeals.next.isActive) { active}"><a class="page-link"@if(!weekMeals.next.isActive) { href="/meals/@weekMeals.next.year.getValue/@weekMeals.next.week"}>Prochaine</a></li>
                </ul>
            </nav>
            <script src="@controllers.routes.Assets.versioned("bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js")"></script>
        </div>
    </body>
</html>
