@import helper._
@import meals.application.routes
@import meals.domain.WeekMeals
@import play.api.data.format.Formats.localDateTimeFormat
@import views.Week
@import meals.domain.MealTimeConverter
@(weekMeals: WeekMeals)(implicit requestHeader: RequestHeader)

@main("Semaine actuelle", Week) {
    <section class="section">
        <div class="container">
            <h1 class="title">Semaine actuelle</h1>
            @if(weekMeals.allByDate.exists(_._2.isEmpty)) {
                @helper.form(action = routes.MealsController.linkOrInsert()) {
                    @CSRF.formField
                    <input type="hidden" name="nextWeek" value="false" />
                    <div class="columns is-mobile is-vcentered">
                        <div class="column is-4">
                            <div class="select">
                                <select name="mealTime">
                                @for(weekMeal <- weekMeals.allByDate.filter(_._2.isEmpty)) {
                                    <option value="@localDateTimeFormat.unbind("", weekMeal._1)("")">@MealTimeConverter.displayTime(weekMeal._1)</option>
                                }
                                </select>
                            </div>
                        </div>
                        <script>
                                let cancelFocusOut = false;

                                function selectMeal(element) {
                                    document.getElementById('dropdown-input').setAttribute('value', element.currentTarget.getAttribute('data-meal'))
                                    cancelFocusOut = false;
                                    focusout();
                                }

                                function createMeal(meal) {
                                    let template = '';
                                    template += `<a class="dropdown-item level" data-meal="${meal.description}">`;
                                    template += ' <div class="level-left">';
                                    template += `  <div class="level-item">${meal.description} (${meal.count})</div>`;
                                    template += ' </div><div class="level-right">';
                                    template += `  <div class="level-item">${meal.lastused} jours</div>`;
                                    template += '</div></div>';
                                    return template;
                                }

                                function onLoadSuggestListener() {
                                    const meals = JSON.parse(this.responseText);
                                    const dropdowncontent = document.getElementById('dropdown-content');
                                    if (dropdowncontent) {
                                        dropdowncontent.remove();
                                    }
                                    const dropdownmenu = document.getElementById('dropdown-menu');
                                    const newdropdowncontent = dropdownmenu.appendChild(document.createElement('div'))
                                    newdropdowncontent.setAttribute('class', 'dropdown-content');
                                    newdropdowncontent.setAttribute('id', 'dropdown-content');
                                    for (const meal of meals) {
                                        newdropdowncontent.innerHTML += createMeal(meal);
                                    }
                                    for (const dropdownitem of newdropdowncontent.getElementsByClassName("dropdown-item")) {
                                        dropdownitem.addEventListener('click', selectMeal);
                                    }
                                    document.getElementById('dropdown').setAttribute('class', `dropdown is-active`);
                                }

                                function focusin() {
                                    const request = new XMLHttpRequest();
                                    request.addEventListener('load', onLoadSuggestListener);
                                    request.open('GET', 'suggest');
                                    request.send();
                                }

                                function focusout() {
                                    if (!cancelFocusOut) {
                                        document.getElementById('dropdown').setAttribute('class', 'dropdown');
                                    }
                                }
                        </script>
                        <style>
                                .dropdown,
                                .dropdown-menu,
                                .dropdown-trigger {
                                    width: 100%;
                                }

                                #dropdown-content > .level {
                                    margin-bottom: 0;
                                }
                        </style>
                        <div class="column is-6">
                            <div class="dropdown" id="dropdown">
                                <div class="dropdown-trigger">
                                    <input class="input" id="dropdown-input" name="mealDescription" type="text" aria-haspopup="true" aria-controls="dropdown-menu"/>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu" onmouseover="cancelFocusOut = true;" onmouseout="cancelFocusOut = false;"></div>
                            </div>
                        </div>
                        <div class="column is-1">
                            <button class="button is-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-utensils"></i>
                                </span>
                            </button>
                        </div>
                        <script>
                                const dropdowninput = document.getElementById('dropdown-input');
                                dropdowninput.addEventListener('focusin', focusin);
                                dropdowninput.addEventListener('focusout', focusout);
                        </script>
                    </div>
                }
            }
            @weekday("lundi", weekMeals.monday, nextWeek = false)
            @weekday("mardi", weekMeals.tuesday, nextWeek = false)
            @weekday("mercredi", weekMeals.wednesday, nextWeek = false)
            @weekday("jeudi", weekMeals.thursday, nextWeek = false)
            @weekday("vendredi", weekMeals.friday, nextWeek = false)
            @weekday("samedi", weekMeals.saturday, nextWeek = false)
            @weekday("dimanche", weekMeals.sunday, nextWeek = false)
        </div>
    </section>
}
