@import views.Week
@import meals.domain.WeekMeals
@(weekMeals: WeekMeals)

@main("Semaine actuelle", Week) {
    <section class="section">
        <div class="container">
            <h1 class="title">Semaine actuelle</h1>
            @weekday("lundi", weekMeals.monday)
            @weekday("mardi", weekMeals.tuesday)
            @weekday("mercredi", weekMeals.wednesday)
            @weekday("jeudi", weekMeals.thursday)
            @weekday("vendredi", weekMeals.friday)
            @weekday("samedi", weekMeals.saturday)
            @weekday("dimanche", weekMeals.sunday)
        </div>
    </section>
}
