@import helper._
@import meals.application.routes
@import meals.domain.WeekDay
@import play.api.data.format.Formats.localDateTimeFormat
@(weekDay: String, weekDayMeals: WeekDay, nextWeek: Boolean)(implicit requestHeader: RequestHeader)

<div class="row m-1">
    <div class="col-3">@weekDay midi</div>
    <div class="col-8">
    @if(weekDayMeals.lunch.isDefined) {
        @weekDayMeals.lunch.map(_.meal).getOrElse("")
    }
    </div>
    <div class="col-1">
    @if(weekDayMeals.lunch.isDefined) {
        @helper.form(action = routes.MealsController.unlink()) {
            @CSRF.formField
            <input type="hidden" name="mealTime" value="@{
                localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(12, 0))("")
            }" />
            <input type="hidden" name="nextWeek" value="@nextWeek" />
            <button class="btn btn-outline-danger">
                <i class="bi bi-trash2"></i>
            </button>
        }
    } else {
        @helper.form(action = routes.MealsController.shuffle()) {
            @CSRF.formField
            <input type="hidden" name="mealTime" value="@{
                localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(12, 0))("")
            }" />
            <input type="hidden" name="nextWeek" value="@nextWeek" />
            <button class="btn btn-outline-secondary">
                <i class="bi bi-shuffle"></i>
            </button>
        }
    }
    </div>
</div>
<div class="row m-1">
    <div class="col-3">@weekDay soir</div>
    <div class="col-8">
    @if(weekDayMeals.dinner.isDefined) {
        @weekDayMeals.dinner.map(_.meal).getOrElse("")
    }
    </div>
    <div class="col-1">
    @if(weekDayMeals.dinner.isDefined) {
        @helper.form(action = routes.MealsController.unlink()) {
            @CSRF.formField
            <input type="hidden" name="mealTime" value="@{
                localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(20, 0))("")
            }" />
            <input type="hidden" name="nextWeek" value="@nextWeek" />
            <button class="btn btn-outline-danger">
                <i class="bi bi-trash2"></i>
            </button>
        }
    } else {
        @helper.form(action = routes.MealsController.shuffle()) {
            @CSRF.formField
            <input type="hidden" name="mealTime" value="@{
                localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(20, 0))("")
            }" />
            <input type="hidden" name="nextWeek" value="@nextWeek" />
            <button class="btn btn-outline-secondary">
                <i class="bi bi-shuffle"></i>
            </button>
        }
    }
    </div>
</div>
