@import helper._
@import meals.application.routes
@import meals.domain.WeekDay
@import play.api.data.format.Formats.localDateTimeFormat
@(weekDay: String, weekDayMeals: WeekDay, nextWeek: Boolean)(implicit requestHeader: RequestHeader)

<div class="media">
    <div class="media-left has-text-weight-bold" style="min-width: 7rem">
        <div class="has-text-weight-bold">@weekDay</div>
    </div>
    <div class="media-content level">
        <div class="level-left">@if(weekDayMeals.lunch.isDefined) {
            @weekDayMeals.lunch.map(_.meal).getOrElse("")
            @helper.form(action = routes.MealsController.unlink()) {
                @CSRF.formField
                <input type="hidden" name="mealTime" value="@{localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(12, 0))("")}" />
                <input type="hidden" name="nextWeek" value="@nextWeek" />
                <button class="delete">delete</button>
            }
        } else {
            @helper.form(action = routes.MealsController.shuffle()) {
                @CSRF.formField
                <input type="hidden" name="mealTime" value="@{localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(12, 0))("")}" />
                <input type="hidden" name="nextWeek" value="@nextWeek" />
                <button class="button is-link">shuffle</button>
            }
        }
        </div>
        <div class="level-right">@if(weekDayMeals.dinner.isDefined) {
            @weekDayMeals.dinner.map(_.meal).getOrElse("")
            @helper.form(action = routes.MealsController.unlink()) {
                @CSRF.formField
                <input type="hidden" name="mealTime" value="@{localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(20, 0))("")}" />
                <input type="hidden" name="nextWeek" value="@nextWeek" />
                <button class="delete">delete</button>
            }
        } else {
            @helper.form(action = routes.MealsController.shuffle()) {
                @CSRF.formField
                <input type="hidden" name="mealTime" value="@{localDateTimeFormat.unbind("", weekDayMeals.reference.atTime(20, 0))("")}" />
                <input type="hidden" name="nextWeek" value="@nextWeek" />
                <button class="button is-link">shuffle</button>
            }
        }
        </div>
    </div>
</div>
