name: seblm-meals CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  frontend:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: 'frontend/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'
      - run: npm install
        working-directory: frontend
      - run: npm run check
        continue-on-error: true
        working-directory: frontend
      - run: npm run lint
        continue-on-error: true
        working-directory: frontend
      - run: npm run build
        working-directory: frontend
      - uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/build


  backend:

    needs: frontend

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: frontend
          path: frontend/build
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt scalafmtCheckAll undeclaredCompileDependenciesTest unusedCompileDependenciesTest test "Docker / stage"
      - uses: scalacenter/sbt-dependency-submission@v3
        if: ${{ github.ref == 'refs/heads/main' }}
      - uses: actions/upload-artifact@v4
        with:
          name: backend
          path: target/docker/stage


  docker:

    if: ${{ github.ref == 'refs/heads/main' }}

    needs: backend

    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v5
        with:
          name: backend
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: seblm/seblm-meals
          tags: latest
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
